
.vs/Sudoku/v16/.suo
.vs/Sudoku/v16/Server/sqlite3/db.lock
*.ide-wal
.vs/Sudoku/v16/Server/sqlite3/storage.ide
.vs/Sudoku/v16/.suo
.vs/Sudoku/v16/.suo
.vs/Sudoku/v16/Server/sqlite3/storage.ide-shm
.vs/Sudoku/v16/.suo
.vs/Sudoku/v16/.suo
